.hidden{
    display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
body:has(.backdrop.is-open){
  overflow-y: hidden;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
/* common */

.container{
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;

  outline: 2px solid red;
  outline-offset: -2px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px){
  .container{
    max-width: 1158px; 
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts{
    display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

  .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-style: normal;
  display: block;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
}
}

@media screen and (min-width: 1158px){
  .header-logo {
  margin-right: 76px;
}
.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
}

/* mobile menu */

.mobile-menu{
    position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px;
    
}
.modal-btn{
     position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
padding: 0;
background-color: #e7e9fc;
border: 1px solid rgb(0 0 0 / 10%);
width: 24px;
height: 24px;
transition: background-color 250ms ease-in, border-color 250ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
.modal-btn-icon{
  width: 8px;
  height: 8px;
  fill: #2e2f42;
transition: fill 250ms ease-in;
}
.modal-btn:hover .modal-btn-icon, .modal-btn:focus .modal-btn-icon{
  fill:#fff;
}
.mobile-menu-list{
 display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
}
.mobile-list{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-list.studio{
color: #404bbf;
}
.mobile-contacts-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
width: 193px;
}
.mobile-link{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
font-style: initial;
}
.mobile-link.mail-item{
    color: #434455;
}
.mobile-menu-nav{
    margin-bottom: auto;
}
.social.mobile{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
width: 280px;
margin-top: 48px;
}
.link-socials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-socials.mobile:hover,
.link-socials.mobile:focus {
  background-color: #404bbf;
}
.icons.mobile {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}


/* Mobile modal */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 40%);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity,visibility;
transition: 300ms ease-in 150ms;
}
.backdrop.is-open{
  opacity: 1;
visibility: visible;
pointer-events: initial;
transition-delay: 0;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 150ms ease;
  transition-property: opacity, transform;
}
.backdrop.is-open .modal{
  opacity: 1;
  transform: translateX(-50%)translateY(-50%);
  transition-delay: 300ms;
}
.modal-btn{
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
padding: 0;
background-color: #e7e9fc;
border: 1px solid rgb(0 0 0 / 10%);
width: 24px;
height: 24px;
transition: background-color 250ms ease-in, border-color 250ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
  .modal-btn-icon{
  width: 8px;
  height: 8px;
  fill: #2e2f42;
transition: fill 250ms ease-in;
}
.modal-btn:hover .modal-btn-icon, .modal-btn:focus .modal-btn-icon{
  fill:#fff;
}

.modal-slogan{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-bottom: 16px;
}

.feedback-wrapper{
  margin-bottom: 8px;
}
.feedback-label{
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.feedback-input{
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: none;
transition: border-color 150ms ease-in;
}
.feedback-input:focus{
  border-color: #4d5ae5;
}
.feedback-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: 150ms ease-in;
  transition-property: fill;
}
.feedback-input:focus + .feedback-icon{
  fill: #4d5ae5;
}
.feedback-field{
  position: relative;
}
.feedback-comment{
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
padding: 8px 16px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
outline: none;
transition: border-color 150ms ease-in;;
}
.feedback-comment:focus{
  border-color: #4d5ae5;;
}
.feedback-comment::placeholder{
color: rgba(46, 47, 66, 0.4);
}
.feedback-agreement{
display: block;
margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}

.feedback-link{
  line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.feedback-toggler{
  display: inline-flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: 150ms ease-in;
transition-property: background-color, border-color;
}
.feedback-toggler-icon{
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.feedback-checkbox:checked + .feedback-toggler{
  background-color: #404bbf;
  border-color: transparent;
}
.feedback-checkbox:checked + .feedback-toggler > .feedback-toggler-icon{
  opacity: 1;
  fill: #f4f4fd;
}
.hero-button.feedback-button{
  width: 169px;
height: 56px;
align-items: center;
justify-content: center;
}


/* Tablet modal */
@media screen and (min-width: 768px) {
 .modal{
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}
}