.hidden{
    display: none;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
body:has(.backdrop.is-open){
  overflow-y: hidden;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
button {
    cursor: pointer;
}
/* common */

.container{
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px){
  .container{
    max-width: 1158px; 
    padding: 0 15px;
  }
}

/* header */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-list,
.contacts{
    display: none;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}
.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}
.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .header-logo {
  padding: 24px 0;
  margin-right: 120px;
}

  .nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.contacts {
  font-style: normal;
  display: block;
}
.header-nav {
  display: flex;
  align-items: center;
}
.nav-link {
  padding: 24px 0;
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}
.contacts-link:hover,
.contacts-link:focus,
.nav-link:hover,
.nav-link:focus,
.nav-link.current {
  color: #404bbf;
}
.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contacts-link {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
}
}

@media screen and (min-width: 1158px){
  .header-logo {
  margin-right: 76px;
}
.contacts-list {
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}
}

/* Hero section */
.hero-section {
  background-color: #2e2f42;
  padding: 72px 0;
  max-width: 320px;
  margin: auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
    font-weight: 700;
font-size: 36px;
  color: #fff;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
  width: 216px;
  padding-bottom: 72px;
  margin: 0 auto;
}
.hero-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  white-space: nowrap;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:focus,
.hero-button:hover {
  background-color: #404bbf;
}
.hero-container {
  display: block;
  align-items: center;
}
@media screen and (min-width: 768px) {
 .hero-section {
  padding: 112px 0;
  max-width: 768px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/tablet-hero.jpg);
 }
 .hero-title {
  font-size: 56px;
  width: 496px;
  padding-bottom: 36px;
  line-height: 1.07;
}
}
@media screen and (min-width: 1158px){
  .hero-section {
  padding: 188px 0;
  max-width: 1440px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-section.jpg);
 }
 .hero-title {
  width: 496px;
  padding-bottom: 48px;
}
}



/* Benefits section */
.features-context {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 100%;
}
.features-list {
display: flex;
padding: 96px 0;
  flex-wrap: wrap;
  align-items: center;
  gap: 72px;
}
.features-item {
  width: 100%;
}
.features-title {
  padding-bottom: 8px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.features-context {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 100%;
}

@media screen and (min-width: 768px) {
.features-context {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.features-list {
display: flex;
padding: 96px 0;
gap: 24px;
}
.features-item {
  width: calc((100% - 24px) / 2);
}
.features-title {
  padding-bottom: 8px;
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
text-align: left;
}
}
@media screen and (min-width: 1158px){
    .hidden {
    display: flex;
  }
  .benefits-section {
  padding: 120px 0;
}
.features-context {
  font-weight: 400;
  width: calc((1128px - 72px) / 4);
}
.features-list {
  align-items: center;
  gap: 24px;
}
.features-item {
  width: 264px;
}
.benefits-icon {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
}
.features-title{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
}
 }


/* our team */
.team-list {
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 72px;
padding-bottom: 96px;
}
.team-section {
  background-color: #f4f4fd;
  margin: auto;
}
.team-title {
  font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-bottom: 72px;
padding-top: 96px;
}
.team-context {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.team-item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  width: 264px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-photo {
  display: block;
}
.card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}
.link-socials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-socials:hover,
.link-socials:focus {
  background-color: #404bbf;
}
.icons {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}
.social {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-decoration: none;
  line-height: 0;
  gap: 24px;
}

@media screen and (min-width: 768px) {
.team-list {
gap: 32px;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}
.team-item{
    width: ((100% - 32px) / 2);
}
}
@media screen and (min-width: 1158px){
.team-list {
  gap: 24px;
  flex-wrap: nowrap;
  align-content: center;
}
.team-item {
  width: calc((100% - 72px) / 4);
}
}


/* Portfolio section */
.portfolio-section {
  padding: 96px 0;
}

.portfolio-title {
padding-bottom: 72px;
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}

.portfolio-context {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-subtitle{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.portfolio-list{
    display: flex;
    justify-content: center;
  align-items: center;
  flex-wrap: wrap;
    gap: 48px;
}
.portfolio-item {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
width: 288px;
height: 400px;
}

    .inside-portfolio {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 100%;
  height: 120px;
}

@media screen and (min-width: 768px) {

    .inside-portfolio{
      width: 356x; 
    }
.portfolio-list {
  column-gap: 24px;
  row-gap: 72px;
}
.portfolio-item {
  width: 356px;
  height: 420px;
}
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
}
@media screen and (min-width: 1158px){
    .portfolio-section {
  padding: 120px 0;
}
.portfolio-list {
  row-gap: 48px;
}

.inside-portfolio {
  width: 360px;
}
.portfolio-item {
  width: 360px;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  width: 360px;
  height: 300px;
  padding: 40px 32px 0 32px;
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
}

/* footer region */

.page-footer {
  background-color: #2e2f42;
  padding: 96px 0;
}
.logo.footer-logo{
  display: flex;
  justify-content: center;
}
.footer-logo .logo-part {
  display: inline-block;
  color: #f4f4fd;
  height: 24px;
}
.footer-context {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  width: 288px;
  padding-top: 16px;
}
.second-context {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.second-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  padding-top: 72px;
}

.first-footer {
  display: flex;
  flex-direction: column;
  max-width: 320px;
}
.icons.footer {
  width: 24px;
  height: 24px;
}
.footer-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.subcribe-title{
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
padding-bottom: 16px;
padding-top: 72px;
}
.email{
  color: #fff;
  border: 1px solid #fff;
border-radius: 4px;
width: 264px;
height: 40px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
font-weight: 400;
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;
background-color: transparent;
outline:transparent;
padding: 8px 0 8px 16px;
}
.email::placeholder { 
  color: #fff;
 }

.input-btn{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.hero-button.footer .icon-send{
  width: 24px;
  height: 24px;
}
@media screen and (min-width: 768px) {
    .container.footer{
        display: flex;
        justify-content: center;
    }
    .second-footer {
        align-items: first baseline;
    }
    .logo.footer-logo{
        justify-content: left;
    }
    .footer-context{
        width: 264px;
    }
    .first-footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 264px;
  margin-right: 24px;
}
.container.footer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
}
.subcribe-title{
padding-bottom: 16px;
padding-top: 72px;
}

.social.footer {
  gap: 16px;
}
.input-btn{
  display: inline-flex;
  gap: 24px;
  padding-top: 112px;

}
.hero-button.footer{
  display: flex;
  width: 165px;
height: 40px;
align-items: center;
justify-content: center;
gap: 16px;
padding: 8px 24px;
}
}

@media screen and (min-width: 1158px){
    .page-footer {
  padding: 100px 0;
}
.first-footer {
    margin-right: 120px;
}
.link-socials.footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-socials.footer:hover,
.link-socials.footer:focus {
  background-color: #31d0aa;
}
.email{
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:hover,
.email:focus{
  border-color: #31d0aa;
}
.hero-button.footer{
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button.footer:focus,
.hero-button.footer:hover{
  background-color: #31d0aa;
}
.footer-form{
  display: inline-block;
  margin-left: auto;
  flex-wrap: wrap;
}
.input-btn{
padding-top: 0;
  }
  
}

 /* mobile menu */

.mobile-menu{
    position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: #fff;
opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.mobile-menu-close{
    position: absolute;
    top: 24px;
    right: 24px; 
}
.modal-btn{
     position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
padding: 0;
background-color: #e7e9fc;
border: 1px solid rgb(0 0 0 / 10%);
width: 24px;
height: 24px;
transition: background-color 250ms ease-in, border-color 250ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
.modal-btn-icon{
  width: 8px;
  height: 8px;
  fill: #2e2f42;
transition: fill 250ms ease-in;
}
.modal-btn:hover .modal-btn-icon, .modal-btn:focus .modal-btn-icon{
  fill:#fff;
}
.mobile-menu-list{
 display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 40px;
}
.mobile-list{
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;
}
.mobile-list.studio{
color: #404bbf;
}
.mobile-contacts-list{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
width: 193px;
}
.mobile-link{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #4d5ae5;
font-style: initial;
}
.mobile-link.mail-item{
    color: #434455;
}
.mobile-menu-nav{
    margin-bottom: auto;
}
.social.mobile{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: row;
gap: 40px;
width: 280px;
margin-top: 48px;
}
.link-socials {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-socials.mobile:hover,
.link-socials.mobile:focus {
  background-color: #404bbf;
}
.icons.mobile {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}


/* Mobile modal */

.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(46 47 66 / 40%);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition-property: opacity,visibility;
transition: 300ms ease-in 150ms;
}
.backdrop.is-open{
  opacity: 1;
visibility: visible;
pointer-events: initial;
transition-delay: 0;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px 16px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: 150ms ease;
  transition-property: opacity, transform;
}
.backdrop.is-open .modal{
  opacity: 1;
  transform: translateX(-50%)translateY(-50%);
  transition-delay: 300ms;
}
.modal-btn{
  position: absolute;
  box-sizing: border-box;
  cursor: pointer;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
justify-content: center;
border-radius: 50%;
padding: 0;
background-color: #e7e9fc;
border: 1px solid rgb(0 0 0 / 10%);
width: 24px;
height: 24px;
transition: background-color 250ms ease-in, border-color 250ms ease-in;
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: #404bbf;
  border-color: #404bbf;
}
  .modal-btn-icon{
  width: 8px;
  height: 8px;
  fill: #2e2f42;
transition: fill 250ms ease-in;
}
.modal-btn:hover .modal-btn-icon, .modal-btn:focus .modal-btn-icon{
  fill:#fff;
}
.modal-slogan{
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
padding-bottom: 16px;
}
.feedback-wrapper{
  margin-bottom: 8px;
}
.feedback-label{
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.feedback-input{
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
outline: none;
transition: border-color 150ms ease-in;
}
.feedback-input:focus{
  border-color: #4d5ae5;
}
.feedback-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: 150ms ease-in;
  transition-property: fill;
}
.feedback-input:focus + .feedback-icon{
  fill: #4d5ae5;
}
.feedback-field{
  position: relative;
}
.feedback-comment{
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
border-radius: 4px;
width: 100%;
height: 120px;
padding: 8px 16px;
font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
outline: none;
transition: border-color 150ms ease-in;;
}
.feedback-comment:focus{
  border-color: #4d5ae5;;
}
.feedback-comment::placeholder{
color: rgba(46, 47, 66, 0.4);
}
.feedback-agreement{
display: block;
margin-top: 16px;
  margin-bottom: 24px;
  font-weight: 400;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
}
.feedback-link{
  line-height: 1.3;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}
.feedback-toggler{
  display: inline-flex;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);
transition: 150ms ease-in;
transition-property: background-color, border-color;
}
.feedback-toggler-icon{
  opacity: 0;
  transition: opacity 150ms ease-in;
}
.feedback-checkbox:checked + .feedback-toggler{
  background-color: #404bbf;
  border-color: transparent;
}
.feedback-checkbox:checked + .feedback-toggler > .feedback-toggler-icon{
  opacity: 1;
  fill: #f4f4fd;
}
.hero-button.feedback-button{
  width: 169px;
height: 56px;
align-items: center;
justify-content: center;
}

/* Tablet modal */
@media screen and (min-width: 768px) {
 .modal{
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
}
}